<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nouveau film :</h1>
    <form action="/submit-film" method="post">
        
        <label for="titre">Titre</label>
        <input type="text" name="titre" id="titre">
        <br>
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre">
        <br>
        <label for="nb_ventes">Nombre de ventes</label>
        <input type="number" name="nb_ventes" id="nb_ventes">
        <br>
        <label for="poster">Poster</label>
        <input type="text" name="poster" id="poster">

        <input type="submit" value="ajouter un film">


    </form>

</body>
</html>